{% extends "base.html" %}

{% load static %}

{% include 'core/navbar.html' %}

{% block section %}
<section class="about" id="about">
    <div class="about-content container">
        <div class="about-txt">
            <span>Banfield <span class="gym">gym</span></span>
            <h2>Quienes somos</h2>
            <hr>
            <p>Ubicado en la sede del histórico Club Banfield, nuestro gimnasio es mucho más que un simple lugar para entrenar: es un centro de entrenamiento de alto rendimiento. Nos especializamos en brindar programas de entrenamiento diseñados para mejorar la fuerza, el equilibrio, la potencia y la hipertrofia muscular, además de enfocarnos en la quema de grasa.</p>
            <br>
            <p>Con un equipo de entrenadores profesionales altamente capacitados, ofrecemos rutinas personalizadas que te ayudarán a alcanzar tus objetivos, ya seas un atleta experimentado o alguien que recién comienza su camino hacia un estilo de vida más saludable.</p>
            <br>
            <p>Nuestras instalaciones modernas están completamente equipadas para cubrir todas tus necesidades, desde el entrenamiento funcional hasta el levantamiento de pesas. En el corazón de Banfield, nos enorgullece ser un espacio donde la comunidad se une para mejorar su rendimiento físico en un ambiente motivador y acogedor.</p>
        </div>
    </div>
</section>

<!-- Nueva sección de imágenes -->
<section class="about-gallery" id="gallery">
    <div class="gallery-container">
        <div class="gallery-row">
            <div class="gallery-img">
                <img src="{% static 'core/assets/img/gimnasio1.jpg' %}" alt="Gimnasio Foto 1">
            </div>
            <div class="gallery-img">
                <img src="{% static 'core/assets/img/f1.jpg' %}" alt="Gimnasio Foto 2">
            </div>
        </div>
        <div class="gallery-row">
            <div class="gallery-img">
                <img src="{% static 'core/assets/img/b3.jpg' %}" alt="Gimnasio Foto 3">
            </div>
            <div class="gallery-img">
                <img src="{% static 'core/assets/img/f2.jpg' %}" alt="Gimnasio Foto 4">
            </div>
        </div>
    </div>
</section>
{% endblock section %}






