{% extends "base.html" %}

{% block title_head %}
<title>Banfield Gym</title>
{% endblock title_head %}

{% include 'core/navbar.html' %}

{% block header %}
<header class="header">
    <div class="header-content container">
        <div class="header-txt">
            <h1>Banfield <span class="text-white">gym</span></h1>
            <p class="titulo">Centro de entrenamiento</p>
            {% comment %} <a href="#" class="btn-1">Informacion</a>  {% endcomment %}
           </div>
       </div>
   </header>  
{% endblock header %}

{% block section %}
<section class="blog">
    <span>Banfield <span class="gym">gym</span></span>
    <h2>Noticias</h2>

    <div class="blog-content container">

        <div class="blog-1">
            <img src="/static/core/assets/img/b1.jpg" alt="">
            <div class="blog-txt">
                <span>Entrenamiento Funcional</span>
                <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                     Ducimus nihil unde, eaque quae sint quas reiciendis?
                      Autem culpa maiores omnis! Quidem veritatis unde adipisci fugit reiciendis
                       id illum error deserunt.
                </p>

            </div>
        </div>

        <div class="blog-1">
            <img src="/static/core/assets/img/b2.jpg" alt="">
            <div class="blog-txt">
                <span>Crossfit</span>
                <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                     Ducimus nihil unde, eaque quae sint quas reiciendis?
                      Autem culpa maiores omnis! Quidem veritatis unde adipisci fugit reiciendis
                       id illum error deserunt.
                </p>

            </div>
        </div>
        

        <div class="blog-1">
            <img src="/static/core/assets/img/b3.jpg" alt="">
            <div class="blog-txt">
                <span>Entrenamiento Militar</span>
                <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                     Ducimus nihil unde, eaque quae sint quas reiciendis?
                      Autem culpa maiores omnis! Quidem veritatis unde adipisci fugit reiciendis
                       id illum error deserunt.
                </p>

            </div>
        </div>
    </div>
</section>
{% endblock section %}


